<body>
    <div class="spacer"></div>
        <div id="content">
            <div class="left">
                <h3> HISTORY </h3>
                <p>Welcome to the I Ching Oracle, a digital portal to ancient wisdom. Dating back to circa 1000 B.C., the I Ching, or Book of Changes, is one of the oldest divination systems in the world. Its profound insights into the nature of existence have guided seekers for millennia, offering timeless wisdom in the face of life's uncertainties.</p>
                <br><br>
                <h3> CASTING </h3>
                <p>To cast the I Ching, simply focus your intention, formulate your question, and cast the traditional method of tossing coins or using yarrow sticks. Your resulting hexagram will provide guidance and insight into your query.</p>
                <p>One of the most common ways to cast a hexagram is using 3 coins. This involves gathering three identical coins, assigning numerical values to their sides (heads = 3, tails = 2), and tossing them simultaneously. After recording the numerical value of each coin facing up, add up the total. Based on whether this total is odd or even, determine the line type: if it's even, the line is solid (representing yang energy), and if it's odd, the line is broken (representing yin energy). Repeat this process six times to obtain a complete hexagram, which serves as the basis for interpretation and guidance from the I Ching.</p>
                <p>Alternatively you can have the Oracle cast your hexagram for you by asking your question on the home page and consulting the Oracle!</p>
                <br><br>
                <h3> SOURCE </h3>
                <p>Our hexagram descriptions are from the Richard Wilhelm and Cary F. Baynes translation of the I Ching, published in 1950. While profoundly insightful, the text may reflect the cultural context of its time, including perspectives on gender, sex, and race that may differ from contemporary values.</p>
                <br><br>
                <h5>this was a hobby project of Andrew Bingham and Crow Rising,
                two backend software engineering buddies</h5>
            </div>
        </div>
</body>