<body>
<div id="content">
    <div class="left">
        <div class="spacer"></div>
                <h2>Hexagram Index</h2>
                <ol>
                    <% @hexagrams.each do |hexagram| %>
                        <li><%= link_to hexagram.title, hexagram_path(hexagram.id) %></li>
                        <br>
                        <img class='ivan' src="/assets/hexagram<%= hexagram.id %>.png" alt="Hexagram Image">
                        <br><br>
                    <% end %>
                </ol>
     </div>
 </div>